PORT=5000
MONGODB_URI=mongodb+srv://bhargavram085_db_user:Bhargav%40085@cluster0.tadf5qu.mongodb.net/mediscanai?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=mediscanai_v6_jwt_secret_change_this_2025
GEMINI_API_KEY=AIzaSyAR_jYeI0cwfm818TpDDUOUDP7LfCWOoLE

# Gmail SMTP - Get App Password from Google Account > Security > App Passwords


EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=bhargavram090@gmail.com
EMAIL_PASS=xycf tyey kagc mzax
EMAIL_FROM=MediScanAI Hospital <bhargavram090@gmail.com>

ADMIN_EMAIL=admin@mediscanai.com
FRONTEND_URL=http://localhost:5173
NODE_ENV=development